<h1>Timeline</h1>

<% if account_signed_in? %>
  <h1>Hello <%= current_account.name %></h1>
<% end %>

<h1>All Accounts:</h1>
<ul>
  <% @accounts.each do |account| %>
    <li>
      <%= account.email %>
    </li>
  <% end %>
</ul>

<h2>Tweets</h2>
<% @tweets.reverse.select do |tweet| %>
  <div class='tweet'>
    <%= image_tag("blank-profile-picture-small.jpg", class: "profile_picture") %>
    <div class="tweet-container">
      <div class='name-container'>
        <div class='name'><%= tweet.account.name %></div>
        <div class='username'>@<%= tweet.account.username %></div>
      </div>
      <div class='created'><%= time_ago_in_words(tweet.created_at) %> ago</div>
      <div class='tweet-content'><%= tweet.content %></div>
    </div>
  </div>
<% end %>

